@charset "utf-8";
.main {
	height: 800px;
	width: 1350px;
	margin-right: auto;
	margin-left: auto;
	background-repeat: no-repeat;
	font-family: fbpigment;
	direction: rtl;
	background-image: url(sedze.jpg);
}
#text_red {
	font-family: fbpigment;
	color: #900;
	font-size: 24px;
	line-height: 40px;
	font-weight: bold;
}

.video {
	float: right;
	height: auto;
	width: 605px;
	margin-right: 50px;
	margin-top: 100px;
	border: 1px solid #000;
}
.text {
	width: 600px;
	margin-top: 200px;
	margin-right: 50px;
	float: right;
	clear: right;
}

#text_black {
	font-family: fbpigment;
	font-size: 18px;
	color: #000;
	line-height: 23px;
}
